<ul id="nav">
  <li class="{% if "/" == page.url %}active{% endif %}">
    <a href="/" class="btn">About</a></li>
  <li class="{% if "/progra.html" == page.url %}active{% endif %}">
	  <a href="/progra" class="btn">Program</a></li>
	<li class="{% if "/registra.html" == page.url %}active{% endif %}">
	  <a href="/registra" class="btn">Registration</a></li>
	<li class="{% if "/venue.html" == page.url%}active{% endif %}">
	  <a href="/venue" class="btn">Venue</a></li>
	<li class="{% if "/accommo.html" == page.url %}active{% endif %}">
	  <a href="/accommo" class="btn">Accommodation</a></li>
	<li class="{% if "/orga.html" == page.url %}active{% endif %}">
	  <a href="/orga" class="btn">Organization</a></li>
      </ul>
