<!DOCTYPE html>
  <html>
    <head>
      <title>DGfS-CL Fall School 2019</title>
      <!-- link to main stylesheet -->
      
    </head>
    <body>
      <nav>
      <ul>
        <li><a href="/">About</a></li>
        <li><a href="/program">Program</a></li>
        <li><a href="/registra">Registration</a></li>
        <li><a href="/venue">Venue</a></li>
        <li><a href="/accomoda">Accomodation</a></li>
        <li><a href="/orga">Organisation</a></li>
      </ul>
      </nav>
      <div class="container">
      {{ content }}
      </div><!-- /.container -->
      <footer>
      <ul>
        <li><a href="/legal">Legal Notice</a></li>
        <li><a href="https://www.uni-stuttgart.de/en/privacy-notice/">Privacy Notice</a>
      </ul>
      </footer>
    </body>
  </html>
